.productForm{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 20px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
    /* border-radius: 20px; */
    /* color: white; */
}

.productForm input, .productFrom textarea, .productForm select{
    border-radius: 10px;
    
    /* background-color: rgba(0, 0, 0, .1); */
    /* opacity: 0; */
}

.productForm .form-control-file{
    border: 1px solid;
}

button{
    float: right;
}

h1{
    padding-bottom: 20px;
    /* color: white; */
}

@media(max-width: 1080px) {
    .navbar .navbarContainer {
      max-width: 1000px; 
    }
    .navbarContainer .searchform{
      width: 50%;
      margin:0 20px !important;
      margin-left: auto !important;
    } }
  