.backgroundContainer .container{
  color: black;
}

/* .box{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  width: 35%;
} */

input.form-control {
  outline: 0;
  border-radius: 0px;
  border-width: 0 0 1px;
  border-color: gray;
  background-color:rgba(255, 255, 255, 0) !important;
}

/* .form-control{
  color: black;
}
s
input:focus::-webkit-input-placeholder { color:transparent; } */

.backgroundContainer div.form-group {
  position: relative; /*  make label relate to div  */
  padding-top: 10px;  /*  make space for label      */
}

.form-group label{
  position: absolute;
  top: 17px;
  left: 0;
  transition: .3s;
  pointer-events: none;
}

.productContainer{
  
  margin-bottom: 40px;
}
.paginationContainer{
  max-width: 90%;
  width: 90%;
  padding: 40px 60px;
}
.productContainer .card{
  width: 100%;
  -webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
  border-radius: 20px;
}

.productContainer img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.productContainer .card-text{
  padding: 10px 0px;
}


.productContainer .buyBtn{
  margin: 10px 0 ;
}

input:focus ~ label,
input:not(:focus):valid ~ label
{
  top: -18px;
  left: 0px;
  font-size: 15px;

}

