.backgroundContainer .container{
  color: black;
}


.cartDetailContainer{
  width: 100%;
  -webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
  border-radius: 20px;
  margin: 40px auto;
  margin: 0 0 40px 0;
  max-height: 300px;

  
}
.cartDetailContainer .col-md-4{
  max-height: inherit;
}

.cartDescription{
  margin: auto;
  max-height: 90%;
}

.cartImage img{
  max-height: 90%;
}
.productDetailContainer .row{
  padding: 40px 0;
}



