.ftco-section {
    padding: 7em 0;
}

.ftco-no-pt {
    padding-top: 0;
}

.ftco-no-pb {
    padding-bottom: 0;
}

.heading-section {
    font-size: 28px;
    color: #000;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ftco-navbar-light {
    background: transparent !important;
    z-index: 3;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
@media (max-width: 991.98px) {
    .ftco-navbar-light {
        background: #000 !important;
        position: relative;
        top: 0;
        padding: 10px 15px;
    }
}
.ftco-navbar-light .navbar-brand {
    color: #000;
    text-transform: uppercase;
}
.ftco-navbar-light .navbar-brand:hover,
.ftco-navbar-light .navbar-brand:focus {
    color: #000;
}
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-brand {
        color: #fff;
    }
}
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
        padding-bottom: 10px;
    }
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 13px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: gray;
    position: relative;
    opacity: 1 !important;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: #40bfc1;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    z-index: -1;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #40bfc1;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover:before {
    visibility: visible;
    background-color: #40bfc1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        color: rgba(255, 255, 255, 0.7);
    }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
        color: #fff;
    }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover:before {
        display: none;
    }
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    border-radius: 4px;
    padding: 0;
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
    font-size: 12px;
    color: #000;
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover,
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
    background: #40bfc1;
    color: #fff;
}
@media (max-width: 991.98px) {
    /* =========================================================================================== */
    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
        display: none !important;
        background: #000;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 0;
    }
    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu.show {
        display: block !important;
    }
    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
        color: rgba(255, 255, 255, 0.8);
    }
}
.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #fff;
    background: #40bfc1;
    border-radius: 0px;
}
@media (max-width: 767.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
        color: #fff;
        background: #40bfc1;
        border-radius: 4px;
    }
}
.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #000;
}
.ftco-navbar-light .navbar-nav > .nav-item.active > a:before {
    visibility: visible;
    background-color: #40bfc1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.active > a {
        color: #40bfc1;
    }
    .ftco-navbar-light .navbar-nav > .nav-item.active > a:before {
        display: none;
    }
}
.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
}
.ftco-navbar-light .navbar-toggler:focus {
    outline: none !important;
}

.searchform {
    height: 46px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-radius: 4px;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}
.searchform .form-control {
    width: calc(100% - 46px);
    border: none;
    background: #fff !important;
    color: rgba(0, 0, 0, 0.7) !important;
    font-size: 14px;
}
.searchform .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .form-control:-ms-input-placeholder {
    /* IE 0+ */
    color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .search {
    width: 46px;
    height: 46px;
}
.searchform .search span {
    font-size: 16px;
}
@media (max-width: 767.98px) {
    .searchform {
        display: none;
    }
}

.searchform .form-control {
    height: 46px !important;
    background: #fff !important;
    color: #000 !important;
    font-size: 14px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-control:focus,
.form-control:active {
    border-color: #000;
}

.searchform button.search,
.searchform input[type="text"] {
    border: 0px;
}

/* ==========================================
    FOR DEMO PURPOSE
  ========================================== */

.text-small {
    font-size: 0.9rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover,
a:focus {
    text-decoration: none;
}

.form-control {
    background: #212529;
    border-color: #545454;
}

.form-control:focus {
    background: #212529;
}

footer {
    background: #212529;
}

/* ==========================================
    CUSTOM UTILS CLASSES
  ========================================== */
body,
html {
    height: 100%;
}
