.backgroundContainer .container{
  color: black;
}


.transactionContainer{
  width: 100%;
  -webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
  border-radius: 20px;
  margin: 40px auto;
  padding: 30px 30px;

  
}

.transactionDetailContainer{
  width: 1400px;
  max-height: 200px;
  border: 1px solid black;
}
.transactionDetailDescription{
  margin: auto;

}

.totalPriceContainer{
  width: 1400px;
}


.transactionDetailContainer img.productImg{
 max-height: 90%;
 justify-content: center;
 
}
.transactionDetailContainer .col-md-4{
  max-height: inherit;
}
.productDetailContainer .row{
  padding: 40px 0;
}



